*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #3a4452;
    padding: 20px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px , auto) repeat(5,100px);

}
.calculator-grid button{
    border: 0;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1) , 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: rgb(232, 229, 229);
    cursor: pointer;
    margin: 5px;
    transition: 0.2s;
}
.calculator-grid button::before{
    transition: 0.2s;

}
.calculator-grid button:hover{
    background-color: rgba(201, 199, 199, 0.9);
    color: #3a4452;
    transition: 0.2s;
}
button.span-two{
    grid-column: span 2;
    width: 160px;
}
.output{
    grid-column: 1 / -1;
    background-color:rgba(232, 229, 229,0.75);
    border-radius: 10px;
    width: 365px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
   color: #2b333d; 
   font-size: 1.3rem;
}
.output .current-operand{
    color: #20252c; 
    font-size: 2rem;
 }
